*.ex5
__pycache__/
.ruff_cache/
logs/

# Ignore signal data but keep directory structure
data/live_trade/signals/**
!data/live_trade/signals/signals_csv/.gitkeep
!data/live_trade/signals/signals_json/.gitkeep

# Ignore fetched CSV data
data/live_trade/fetch/*
!data/live_trade/fetch/.gitkeep
# Ignore saved prompts and raw files
data/live_trade/save_prompt_api/*
!data/live_trade/save_prompt_api/.gitkeep
# Ignore parsed signal files and latest response
data/live_trade/signals/latest_response.txt
data/live_trade/signals/latest_response.json

# Ignore backtest data
data/back_test/*
!data/back_test/.gitkeep
gpt.json

# Local settings
config/setting_live_trade.json
config/setting_backtest.json
