*.ex5
__pycache__/
.ruff_cache/
logs/

# Ignore signal data but keep directory structure
live_trade/data/signals/
!live_trade/data/signals/**

# Ignore fetched CSV data
live_trade/data/fetch/*
!live_trade/data/fetch/.gitkeep
gpt.json

# Local settings
live_trade/config/setting_main.json
