*.ex5
__pycache__/
.ruff_cache/
logs/

# Ignore signal data but keep directory structure
data/live_trade/signals/
!data/live_trade/signals/**

# Ignore fetched CSV data
data/live_trade/fetch/*
!data/live_trade/fetch/.gitkeep

# Ignore backtest data
data/back_test/*
!data/back_test/.gitkeep
gpt.json

# Local settings
live_trade/config/setting_main.json
